.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
dist
cypress/screenshots
cypress/videos
cypress/snapshots/**/open
cypress/**/__diff_output__
/*.js
/*.d.ts
/*.map
